@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --orange-color: #ff5400;
  --dark-color: #131318;
  --light-dark-color: #424247;
  --white-color: #fff;
}

/* Elements Fixed */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish";
  color: var(--dark-color);
  transition: all 0.5s ease-in;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--light-dark-color);
}

/* =================== Shared Class CSS ======================= */
.container {
  width: 80%;
  max-width: 1440px;
  margin: 1rem auto;
  padding: 1rem;
}

.active {
  color: var(--orange-color);
}

.sub_sec_title {
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: 800;
}

.dec_text {
  /* font-weight: 400; */
  margin: 1rem 0;
}

.main_btn {
  display: inline-flex;
  padding: 0.5rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2.5rem;
  background: var(--orange-color);
  border: none;
  color: var(--white-color);
  cursor: pointer;
}

/* =================== Header CSS ======================= */

/* nav bar css */

header {
  max-height: max-content;
}

header .container {
  margin-top: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .nav_logo {
  color: var(--dark-color);
  font-size: 2.25rem;
  font-weight: 800;
  cursor: pointer;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
header nav .nav_logo span {
  color: var(--orange-color);
}
header nav .nav_links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  font-weight: 600;
}

/* banner section css */
header .banner {
  border-radius: 1rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.533),
      rgba(140, 139, 139, 0.297)
    ),
    url("../images/group13.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  height: max-content;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
header .banner .banner_content {
  text-align: center;
}
header .banner .banner_content h1 {
  color: var(--white-color);
  font-size: 4rem;
  font-weight: 800;
}
header .banner .banner_content .dec_text {
  color: var(--white-color);
  width: 70%;
  margin: 1.6rem auto;
}
header .banner .banner_content > form {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
}
header .banner .banner_content form input,
header .banner .banner_content form select,
header .banner .banner_content form .main_btn {
  border-radius: 0.5rem;
  background: var(--white-color);
  color: var(--light-dark-color);
  width: 10rem;
  /* height: 3.25rem; */
  padding: 1rem;
  border: none;
  outline: none;
}
header .banner .banner_content form select {
}
header .banner .banner_content form .main_btn {
  background: var(--orange-color);
  color: var(--white-color);
  text-align: center;
  display: inline-block;
}

/* =================== Main CSS ======================= */

section.popular_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
section.popular_section .content{
    flex: 1;
}
section.popular_section .content .sec_title{
    color: var(--dark-color);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
}

section.popular_section .content ul li{
    margin: 1rem 0;
    list-style-type: disc;
    margin-left: 1rem;
} 
section.popular_section .content .main_btn{
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

section.popular_section .img{
    flex: 1;
    text-align: right;
}

section.popular_section .img img{
    width: 90%;
    border-radius: 1rem;
}


/* company logo sections */

/* =================== Footer CSS ======================= */

/* =================== Responsive CSS ======================= */

/* Responsive for small Devices */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }

  nav .nav_logo {
    margin-bottom: 2rem;
  }
  header nav .nav_links {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

/* Responsive for Mediam Devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 10px;
  }
}
